.bgTitle{
      background-color: #0d3b66;
      color:white;
      border-radius: 5px;
}
.item {
      display: flex;
      align-items: center;
      padding: .5rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      color: #fff;
    }
    
    .icon {
      margin-right: 0.5rem;
      opacity: 0.2;
      font-size: 1.5rem;
    }
    
    /* Unique background colors */
    .email {
      background-color: #0d3b66;
    }
    
    .phone {
      background-color: #83c7d0;
      color: white; /* override text for contrast */
    }
    
    .gender {
      background-color: white;
      color: #0d3b66;
    }
    
    .job {
      background-color: #83c7d0;
    }
    
    .title {
      background-color: white;
      color: #0d3b66;
    }
    
    .studentId {
      background-color: #83c7d0;
      color: white
    }
    
    .bio {
      background-color: #292b2c;
    }
    