h3{
      color:#0d3b66 ;
}
.addCourseBtn{
      background-color: #0d3b66;
      border:0;
}
.addCourseBtn:hover{
      background-color: #83c7d0;
}
.addGroupBtn{
      background-color: #83c7d0;
      border:0;
}
.addGroupBtn:hover{
      background-color: #0d3b66;
      
}