.eventsSection {
   background-color: #f0f8ff; /* Background color for the section */
}

.eventCard {
  background-color: transparent;
  position: relative;
  border: none;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.eventCard:hover {
  transform: scale();
}

.eventImage {
  /* width: 100%;
    height: auto;*/
  object-fit: cover;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  width: 50%;
  height: 60%;
  top: 20% !important;
  left: 20%!important;
  bottom: 10%;
  color: white;
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent overlay */
  padding: 20px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px !important;
  transition: transform 0.3s ease;
}
.overlay:hover {
  transform: scale(1.02);
}
.overlayRight {
  left: unset !important;;
  right: 30% !important;
  left: unset;
}

.eventTitle {
  font-size: 1.4rem;
  font-weight: bold;
  color: #012f5a;
  margin-bottom: 1rem;
}
.eventSectionTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #012f5a;
  margin-bottom: 1rem;
}
.eventData {
  color: #012f5a;
}
.eventIcon {
  font-size: 20px;
  color: #5ab0c6;
}
.learnMoreBtn {
  font-weight: 600;
  color: #ffffff;
  background-color: #012f5a;
  border: none;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
  align-self: flex-start; /* Align the button to the left */
}

.learnMoreBtn:hover {
  background-color: #003d80;
}

@media (max-width: 1600px) {
  .overlay {
    width: 70%;
    left: 30%;
  }
  .overlayRight {
    right: 30% !important;
    left: unset;
  }
}

@media (max-width: 1000px) {
  .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
