.login{
     
      background-image: url('../../src/Assets/images/signin.jpg');
      background-size: cover;
}

.signin{
      background-color: #5ab0c635;
      border: solid  1px white;
}
.btn{
      background-color: #5ab0c6 !important;
      color:white !important;
}
.btn:hover{
      background-color: white !important;
      color: #5ab0c6 !important;
}
.link{
      color:#5ab0c6;

}
.link:hover{
      color:white;
}