@font-face {
      font-family: 'GeistSans';
      src: url('./GeistVF.woff') format('woff');
      font-weight: 100 900;
      font-display: swap;
    }
    
    @font-face {
      font-family: 'GeistMono';
      src: url('./GeistMonoVF.woff') format('woff');
      font-weight: 100 900;
      font-display: swap;
    }
    
    /* Set CSS variables */
    :root {
      --font-geist-sans: 'GeistSans', sans-serif;
      --font-geist-mono: 'GeistMono', monospace;
    }
    