.const{
      /* margin-top: 100px; */

}
.headertxt{
      font-size: 52px;
      font-weight: 700;
      color: white;
      background-color: #5ab0c699;
}
.secbg{
      background-color: #012F5A;
}
.subtitle{
      font-size: 24px;
      color: #5ab0c6;
      
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
}