.conssec {
  background-color: #012f5a;
}
.constxt {
  background-color: #012f5a7d;
}
.consh1 {
  font-size: 42px;
  color: #5ab0c6;
  font-weight: 700;
}
.consh3 {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.consi {
  color: #5ab0c6;
}
@media (max-width: 1350px) {
  .conssec {
    background-image: url("../../../../assets/images/consultation.jpg");
    background-size: cover;
  }
  .consimg {
    display: none;
  }
}
.consbtn {
  width: 150px;
  background-color: white;
  color: #5ab0c6;
  border: #5ab0c6;
}
.consbtn:hover {
  background-color: #5ab0c6;
  color: white;
}
