.table {
  margin-top: 30px !important;
}
.tableActions {
  gap: 0.5rem;
}
.th {
  background-color: #1f1f2e;
}
.actionIcon {
  margin: 5px;
  cursor: pointer;
  color: #1f1f2e;
  transition: color 0.2s;
}

.actionIcon:hover {
  color: #83c7d0;
}

.deleteIcon {
  color: #a71d2a;
}

.deleteIcon:hover {
  color: #dc3545;
}
