.title{
      color: #0d3b66;
      
}
.sectionBg{
      background-color: #83c7d0;
      color: #0d3b66;
}
.qTitle{
      background-color: #0d3b66;
      color: white;

}
.answers{
      color: #0d3b66;
}
/* From Uiverse.io by d_8965 */ 
/* === removing default button style ===*/
/* From Uiverse.io by adamgiebl */ 
.cssbuttons{
      background: #83c7d0;
      color: white;
      font-family: inherit;
      padding: 0.35em;
      padding-left: 1.2em;
      font-size: 17px;
      font-weight: 500;
      border-radius: 0.9em;
      border: none;
      letter-spacing: 0.05em;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 1.6em -0.6em #83c7d0;
      overflow: hidden;
      position: relative;
      height: 2.8em;
      padding-right: 3.3em;
      cursor: pointer;
    }
    
    .cssbuttons .icon {
      background: white;
      margin-left: 1em;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.2em;
      width: 2.2em;
      border-radius: 0.7em;
      box-shadow: 0.1em 0.1em 0.6em 0.2em #83c7d0;
      right: 0.3em;
      transition: all 0.3s;
    }
    
    .cssbuttons:hover .icon {
      width: calc(100% - 0.6em);
    }
    
    .cssbuttons .icon svg {
      width: 1.1em;
      transition: transform 0.3s;
      color: #83c7d0;
    }
    
    .cssbuttons:hover .icon svg {
      transform: translateX(0.1em);
    }
    
    .cssbuttons:active .icon {
      transform: scale(0.95);
    }
    
    /* From Uiverse.io by Dhanya4 */ 
.nextBtn {
      --color:131,199,208;
      border-radius: 0.5em;
      transition: 0.3s;
      background-color: rgba(var(--color), 0.2);
      color: rgb(var(--color));
      fill: rgb(var(--color));
      font-family: monospace;
      font-weight: bolder;
      font-size: x-large;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      cursor: pointer;
      border: 2px solid rgb(var(--color));
      box-shadow: 0 0 10px rgba(var(--color), 0.4);
      outline: none;
      display: flex;
      align-items: center;
      padding: 0.25em .5em;
    }
    
    .nextBtn:hover {
      box-shadow: 0 0 0 5px rgba(var(--color), 0.5);
    }
    
    .nextBtn span {
      transform: scale(0.8);
      transition: 0.3s;
    }
    
    .nextBtn:hover span {
      transform: scale(1);
    }
    
    .nextBtn svg {
      font-size: 0;
      transform: scale(0.5) translateX(0%) rotate(-180deg);
      transition: 0.3s;
    }
    
    .nextBtn:hover svg {
      font-size: 20px;
      transform: scale(1) translateX(20%) rotate(0deg);
    }
    
    .nextBtn:active {
      transition: 0s;
      box-shadow: 0 0 0 5px rgb(var(--color));
    }
    