.headerTitle {
  bottom: -15%;
}
.headerText {
  font-size: 52px;
  font-weight: 700;
  color: white;
  background-color: #5ab0c699;
}
.img {
  object-fit: cover;
}

@media (max-width: 1000px) {
  .headerText {
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: #5ab0c699;
  }
}
